.bt_pointer {
    cursor: pointer;
}

.iserror {
    border: 2px solid red !important;
}



/*//success and error snackbar shows here*/

#snackbarsuccs {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    /*margin-left: -125px;*/
    /* Divide value of min-width by 2 */
    background-color: #15ec15;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 100000;
    /* Add a z-index if needed */
    left: 45%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
    font-size: 16px;
}

#snackbarsuccs.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}



/* The snackbar failure - position it at the bottom and in the middle of the screen */

#snackbarerror {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    /*margin-left: -125px;*/
    /* Divide value of min-width by 2 */
    background-color: #ff4081;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 100000;
    /* Add a z-index if needed */
    left: 45%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
    font-size: 16px;
}



/*@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}*/

#snackbarerror.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.btnldr {
    color: #fff;
    font-size: 20px;
    margin-top: -4px;
}


#spinner {
    position: fixed;
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
}

#spinner .loader {
    position: relative;
}

#spinner .loader i {
    position: absolute;
    font-size: 100px;
}

#spinner .loader i:first-of-type {
    color: #ea357f;
    -webkit-transform: scale(0, 0);
    opacity: 0.0;
    -webkit-animation: loading1 2s ease-in-out infinite;
}

#spinner .loader i:last-of-type {
    color: #ea357f;
    -webkit-transform: scale(1, 1);
    opacity: 1.0;
    -webkit-animation: loading2 2s ease-out infinite;
}

@-webkit-keyframes loading1 {
    0% {
        color: #3f48cc;
        -webkit-transform: scale(0, 0);
        opacity: 0.0;
    }
    50% {
        color: #3f48cc;
        -webkit-transform: scale(1, 1);
        opacity: 1.0;
    }
    100% {
        color: #3f48cc;
        -webkit-transform: scale(0, 0);
        opacity: 0.0;
    }
}

@-webkit-keyframes loading2 {
    0% {
        color: #ea357f;
        -webkit-transform: scale(1, 1);
        opacity: 1.0;
    }
    50% {
        color: #ea357f;
        -webkit-transform: scale(0, 0);
        opacity: 0;
    }
    100% {
        color: #ea357f;
        -webkit-transform: scale(1, 1);
        opacity: 1.0;
    }
}

#loaderspinner {
    width: 100% !important;
    height: 100% !important;
    position: fixed;
    background-color: #fff !important;
    z-index: 5000 !important;
    overflow: hidden;
}

.nodata{
    text-align: center;
    font-size:20px;
    color:red;
    font-weight: 600;
}

.noimginuserprof{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.pinkcolor{
    color : #ff4081;
    font-weight: 600;
}

.profile-detail .status-list li {
    padding: 0px 10px !important;
}

.subadmindisabled{
    background-color: rgba(152, 166, 173, 0.62) !important;
    color: #fff !important;
}