div.show-image {
    position: relative;
    float: left;
    margin: 5px;
}

div.show-image:hover img {
    opacity: 0.3;
}

div.show-image:hover p {
    display: block;
}

div.show-image p {
    position: absolute;
    display: none;
}

div.show-image p.update {
    top: 60%;
    left: 33px;
    font-size: 17px;
}

div.show-image p.delete {
    top: 53%;
    right: 21px;
    font-size: 17px;
}

.card-typical {
    background: #36404A;
    -webkit-border-radius: .25rem;
    border-radius: .25rem
}

.card-typical p {
    margin: 0;
    font-size: 15px;
}
a.restnameview {
    font-size: 15px;
    color: #fff;
}
.tbl-cell.tbl-cell-status {
    float: right;
}

.card-typical .card-typical-section {
    padding: 15px;
    border-top: solid 1px #5f5f5f;
    zoom: 1;
}

.card-typical .card-typical-section:after,
.card-typical .card-typical-section:before {
    content: " ";
    display: table
}

.card-typical .card-typical-section:after {
    clear: both
}

.card-typical .card-typical-section:first-child {
    border-top: none
}

.card-typical .card-typical-content {
    font-size: .875rem
}

.card-typical .card-typical-content .photo img {
    display: block;
    width: 100%
}

.card-typical .card-typical-content .title {
    font-weight: 600;
    font-size: 2rem;
    margin: 0 0 5px
}

.card-typical .card-typical-content .title a {
    color: #343434
}

.card-typical .card-typical-content .title a:hover {
    color: #00a8ff
}

.card-typical .card-typical-likes,
.card-typical .card-typical-linked {
    color: #919fa9;
    line-height: 1rem;
    font-size: .875rem
}

.card-typical .card-typical-linked {
    float: left
}

.card-typical .card-typical-likes {
    float: right
}

.card-typical .card-typical-likes .font-icon {
    margin: 0 2px 0 0;
    vertical-align: middle;
    font-size: .875rem
}

.card-typical .card-typical-likes:hover {
    color: #00a8ff
}

.cards-grid .card-typical {
    margin: 0 15px 30px
}

.cards-grid[data-columns]::before {
    content: '3 .column.size-1of3'
}

.cards-grid .column {
    float: left
}

.cards-grid .size-1of4 {
    width: 25%
}

.cards-grid .size-1of3 {
    width: 33.333%
}

.cards-grid .size-1of2 {
    width: 50%
}

.drop-zone {
    height: 190px !important;
    border: 2px dashed #adb7be !important;
    text-align: center !important;
    padding: 25px 0 0 !important;
}
.upload_icon {
    line-height: 60px;
    color: #919fa9;
    font-size: 3.75rem;
}
.drop-zone .drop-zone-caption {
    font-size: 2rem;
    font-weight: 600;
    color: #919fa9;
    margin: 0 0 1rem;
}
.btn-file input[type=file] {
    position: absolute;
    left: 40%;
    top: 65%;
    height: 40px;
    width: 125px;
    opacity: 0;
    cursor: pointer;
}

.btn_txt {
    color: #ffffff;
}
.successimg {
    width: 25% !important;
}
.tbl-cell.tbl-cell-status {
    float: right;
    margin-left: 35px;
    margin-top: 5px;
}
p.user-card-row-name {
    float: left;
}
a.font-icon {
    color: #c04a9a;
    cursor: pointer;
}

a.font-icon.md-trigger {
    margin-right: 10px;
}
.home-list-pop.list-spac {
    padding: 5px;
}

@media screen and (max-width:520px) {
    .cards-grid[data-columns]::before {
        content: '1 .column'
    }
}

@media screen and (max-width:414px) {
.cards-grid .size-1of3 {
    width: 100%;
}
}

@media screen and (min-width:521px) and (max-width:767px) {
    .cards-grid[data-columns]::before {
        content: '2 .column.size-1of2'
    }
}

@media screen and (min-width:768px) and (max-width:1300px) {
    .cards-grid[data-columns]::before {
        content: '3 .column.size-1of3'
    }
}

@media screen and (min-width:1301px) {
    .cards-grid[data-columns]::before {
        content: '4 .column.size-1of4'
    }
}
