.tablebtn {
    height: 23px;
    font-size: 10px;
    padding-top: 3px;
}

.tablelabel {
    background-color: #2196F3 !important;
}

.tableaction {
    padding: 0px 4px;
    height: 25px;
}

.p15 {
    padding: 15px !important;
}

.modalheading {
    font-weight: 600 !important;
}


/*VERTICALLY CENTERING MODAL STARTS HERE*/

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}


/*VERTICALLY CENTERING MODAL ENDS HERE*/

.panel-primary > .panel-heading {
    background-color: #c04a9a;
}

.profilepicimg {
    height: 50px !important;
}

p.adminemail,
p.adminphone {
    text-align: center !important;
}

.mt4 {
    margin-top: 4px !important;
}
.pointer{
	cursor: pointer !important;
}
img.profilepictable {
    height: 38px;
}

/*scroll bar color css starts here*/

::-webkit-scrollbar {
    width: 5px;
    /* for vertical scrollbars /
height: 8px;
/ for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: #c04a9a;
}

::-moz-scrollbar {
    width: 5px;
    /* for vertical scrollbars /
height: 12px;
/ for horizontal scrollbars */
}

::-moz-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-moz-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}

::-o-scrollbar {
    width: 5px;
    /* for vertical scrollbars /
height: 12px;
/ for horizontal scrollbars */
}

::-o-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-o-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}


/*scroll bar color css ends here*/
.locationnotification{
	font-size: 12px;
    padding: 0px 5px;
}
button.btn.dropdown-toggle.btn-white{
	    font-size: 12px !important;
    padding: 0px 5px !important;
}
.orderselect{
	width: 100px !important;
}

#chartdiv {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}
p.text-muted {
    font-size: 10px !important;
}
span.modalspan {
    color: #f3ad2e;
    font-weight: 900;
}
.yellowcolor{
    color: #f3ad2e;
}
/*IMAGE UPLOAD STARTS HERE*/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500);
@-webkit-keyframes roll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-150%, -50%) rotate(-90deg) scale(0.3);
            transform: translate(-150%, -50%) rotate(-90deg) scale(0.3);
    box-shadow: none;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
            transform: translate(-50%, -50%) rotate(0deg) scale(1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  }
}
@keyframes roll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-150%, -50%) rotate(-90deg) scale(0.3);
            transform: translate(-150%, -50%) rotate(-90deg) scale(0.3);
    box-shadow: none;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
            transform: translate(-50%, -50%) rotate(0deg) scale(1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  }
}
.wrapper.wrapperimage {
  -webkit-animation: roll 0.5s;
          animation: roll 0.5s;
  position: fixed;
  left: 25%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 25px;
  background: #c04a9a;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.wrapper.wrapperimage:active #img-result {
  margin-top: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.wrapper.wrapperimage #img-result {
  cursor: pointer;
  margin: 0;
  position: relative;
  background: #1abc9c;
  background-size: cover;
  background-position: center;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0);
  -webkit-transition: box-shadow 0.3s, margin 0.3s, background-image 1.5s;
  transition: box-shadow 0.3s, margin 0.3s, background-image 1.5s;
}
.wrapper.wrapperimage #img-result.no-image:before {
  font-family: 'FontAwesome';
  content: "\f030";
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  font-size: 48px;
  opacity: .8;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-shadow: 0 0px 5px rgba(0, 0, 0, 0.4);
}

.wrapper.wrapperimage:active #img-result1 {
  margin-top: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.wrapper.wrapperimage #img-result1 {
  cursor: pointer;
  margin: 0;
  position: relative;
  background: #1abc9c;
  background-size: cover;
  background-position: center;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0);
  -webkit-transition: box-shadow 0.3s, margin 0.3s, background-image 1.5s;
  transition: box-shadow 0.3s, margin 0.3s, background-image 1.5s;
}
.wrapper.wrapperimage #img-result1.no-image:before {
  font-family: 'FontAwesome';
  content: "\f030";
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  font-size: 48px;
  opacity: .8;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-shadow: 0 0px 5px rgba(0, 0, 0, 0.4);
}
.wrapper.wrapperimage button {
  margin-top: 20px;
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;
  background: #1abc9c;
  width: 100%;
  border: none;
  color: #fff;
  padding: 10px;
  letter-spacing: 1.3px;
  font-size: 1.05em;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  outline: 0;
  -webkit-transition: box-shadow 0.3s, margin-top 0.3s, padding 0.3s;
  transition: box-shadow 0.3s, margin-top 0.3s, padding 0.3s;
}
.wrapper.wrapperimage button:active {
  box-shadow: none;
  margin-top: 24px;
  padding: 8px;
}
.show-button {
  background: #264974;
  border: none;
  color: #fff;
  padding: 10px 20px;
  float: right;
  display: none;
}
.upload-result {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow-y: auto;
}
.upload-result__content {
  word-break: break-all;
  font-family: 'Source Code Pro';
  overflow-wrap: break-word;
}

/*IMAGE UPLOAD ENDS HERE*/
.account-pages.login{
        background-image: url('../../assets/images/custom/loginbg.jpg');
    background-position: bottom left;
}
.formnewwrapper{
    margin: 10% auto !important;
}
.account-pages.forgotpwdbg{
        background-image: url('../../assets/images/custom/loginbg.jpg');
    background-position: bottom left;
}
.borderright{
      border-right: 1px solid #5b6269 !important;
}
.mb0{
  margin-bottom: 0px !important;
}
.mb-20{
  margin-bottom: -20px !important;
}
.modalspan{
  text-align: center;
}
.clearancepara{
  font-weight: 600;
  color: #f3ad2e;
  font-size: 13px;
      margin-top: 5px !important;
      margin-bottom: 5px !important;

    text-align: center;
    
}
p.clearanceheading {
    text-align: center;
    font-weight: 900;
        margin-top: 6px !important;
}
.width100{
  width: 100% !important;
}
.f16{
  font-size: 16px !important;
}
.proofimages {
    height: 200px;
    width: 100%;
}
.whitecolor{
  color: #fff !important;
}
.text-custom {
    color: #ffffff !important;
}
.text-danger {
    color: #ffffff !important;
}


/*PRELOADER CSS STARTS HERE*/

#spinner {
    position: fixed;
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
}

#spinner .loader {
    position: relative;
}

#spinner .loader i {
    position: absolute;
    font-size: 100px;
}

#spinner .loader i:first-of-type {
    color: #ea357f;
    -webkit-transform: scale(0, 0);
    opacity: 0.0;
    -webkit-animation: loading1 2s ease-in-out infinite;
}

#spinner .loader i:last-of-type {
    color: #ea357f;
    -webkit-transform: scale(1, 1);
    opacity: 1.0;
    -webkit-animation: loading2 2s ease-out infinite;
}

@-webkit-keyframes loading1 {
    0% {
        color: #3f48cc;
        -webkit-transform: scale(0, 0);
        opacity: 0.0;
    }
    50% {
        color: #3f48cc;
        -webkit-transform: scale(1, 1);
        opacity: 1.0;
    }
    100% {
        color: #3f48cc;
        -webkit-transform: scale(0, 0);
        opacity: 0.0;
    }
}

@-webkit-keyframes loading2 {
    0% {
        color: #ea357f;
        -webkit-transform: scale(1, 1);
        opacity: 1.0;
    }
    50% {
        color: #ea357f;
        -webkit-transform: scale(0, 0);
        opacity: 0;
    }
    100% {
        color: #ea357f;
        -webkit-transform: scale(1, 1);
        opacity: 1.0;
    }
}

#loaderspinner {
    width: 100% !important;
    height: 100% !important;
    position: fixed;
    background-color: #fff !important;
    z-index: 5000 !important;
    overflow: hidden;
}



/*PRELOADER CSS ENDS HERE*/
.floatright{
  float: right;
}
.mt15{
  margin-top: 15px !important;
}
div.show-image p.update {
    top: 35% !important;
    left: 30px !important;
    font-size: 34px !important;
}
div.show-image p.delete {
        top: 28% !important;
    right: 30px !important;
    font-size: 34px !important;
}